@import "color.css";
@import "typography.css";

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(255, 253, 243, 1);
    height: 3088px;
    top: 3678px;
    left: -18813px;
}

nav{ 
    height: 50px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 36px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;  
    border-bottom: 1px solid rgba(58, 53, 65, 0.12)
}

.nav-img{
    width: 1200px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-img{
    font-weight: 500;
    color: rgba(51, 51, 51, 0.68);
}

.ava-contain{
    margin-top: 5px;
}

.container{
    padding-top: 64px;
    padding-right: 120px;
    padding-bottom: 64px;
    padding-left: 120px;
    gap: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top{
    background: url(../images/icon/background/background.jpg) no-repeat center center rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
    width: 1200px;
    height: 400px;
    /* margin-right: 140px;
    margin-left: 140px;
    margin-top: 82px;
    margin-bottom: 82px; */
    border-radius: 10px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.top-content{
    width: 920px;
    height: 215px;
    gap: 12px;
    color: rgba(255, 255, 255, 1);
}
    

.btn-top{
    width: 369px;
    height: 42px;
    font-weight: 700;
    border-radius: 10px;
    border-style: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(62, 207, 76, 1);
    cursor: pointer;
}

.content{
    width: 1200px;
    height: 1525px;
    /* margin-right: 140px;
    margin-left: 140px;
    margin-top: 82px;
    margin-bottom: 82px; */
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#nav-link{
    display: flex;
    list-style: none;
    padding-top: 30px;
    gap: 20px;
}

li{
    cursor: pointer;
}

li:hover {
    color: rgba(246, 73, 32, 1);
}

.card-flex{
    display: flex;
    gap: 24px;
}

.card{
    width: 344px;
    height: 380px;
    border-radius: 10px;
    padding: 20px;
    gap: 16px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(58, 53, 65, 0.12);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card p{
    color: rgba(51, 51, 51, 0.68);
}

.card h4{
    color: rgba(62, 207, 76, 1);
}

.img-card{
    width: 344px;
    height: 193px;
    border-radius: 10px; 
    object-fit: cover;
}

.content-card{
    width: 344px;
    height: 74px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-card p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ava-card{
    height: 42px;
    gap: 10px;
    display: flex;
}

.rating-card{
    display: flex;
    justify-content: space-between;
    height: 29px;
}

.rating-star{
    display: flex;
    align-items: center;
}

.bottom{
    background: url(../images/icon/background/background2.png) no-repeat center center rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
    width: 1200px;
    height: 400px;
    /* margin-right: 140px;
    margin-left: 140px;
    margin-top: 82px;
    margin-bottom: 82px; */
    border-radius: 10px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.bottom-content{
    width: 525px;
    height: 100px;
}

form{
    width: 525px;
    height: 58x;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    gap: 0px;
    justify-content: space-between;
}

.btn-bottom{
    background-color: rgba(255, 189, 58, 1);
    border-radius: 10px;
    width: 132px;
    height: 42px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    cursor: pointer;
}

input{
    border: none;
    width: 333px;
    height: 42px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.68);
}

footer{
    background-color: rgba(255, 255, 255, 1);
    height: 427px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 20px;
    border-top: 1px solid rgba(58, 53, 65, 0.12)
}

.footer-content{
    display: flex;
    justify-content: space-between;
    width: 1250px;
    height: 199px;
}

.content-img{
    display: flex;
    flex-direction: column;
    height: 190x;
    width: 352px;
    gap: 16px;
}

.content-img h6{
    font-weight: 700;
    color: rgba(34, 35, 37, 1);
}

.content-img p{
    color: rgba(34, 35, 37, 1);
    font-weight: 400;
}

.content-information{
    display: flex;
    width: 485px;
    height: 199px;
    gap: 48px;
}

.information-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.headP{
    color: rgba(34, 35, 37, 1);
    font-weight: 700;
}

.information-content p{
    color: rgba(51, 51, 51, 0.68);
    font-weight: 500;
}

hr{
    margin-top: 50px;
}

.copyRight{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: rgba(51, 51, 51, 0.68);
}
