@import "color.css";
@import "typography.css";

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(255, 253, 243, 1);
    height: 1101px;
    top: 3678px;
    left: -21053px;
}


nav{
    height: 50px;
    width: 100vw;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(255, 255, 255, 1);
    justify-content: space-between;
    position: fixed;
}

.container{
    height: 1200px;
    padding-top: 64px;
    padding-right: 120px;
    padding-bottom: 64px;
    padding-left: 120px;
    gap: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 590px;
    height: 893px;
    padding: 40px;
    border-radius: 4px;
    border: 1px;
    border-color: rgba(241, 241, 241, 1);
    gap: 36px;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content {
    width: 525px;
    height: 67px;
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.subtitle {
    color: rgba(51, 51, 51, 0.68);
}
.title {
    margin-left: 10px;
}

fieldset {
    width: 518px;
    height: 442px;
    gap: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
}

input {
    width: 518px;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid rgba(241, 241, 241, 1);
}



label{
    width: 200px;
    color: rgba(51, 51, 51, 0.68);
    font-weight: 400;
    line-height: 22.4px;
    margin-right: 335px;
}

.flag-option{
    display: flex;
}

.flag-contain{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 156.67px;
    height: 48px;
    padding-bottom: 6px;
    padding-top: 2px;
    padding-right: 10px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 241, 1);
}

.flag{
    width: 44px;
    height: 48px;
    border-right: 1px;
    margin-top: 4px;
    padding-top: 4px; 
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;  
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: rgba(244, 245, 250, 1);
    border-right: 1px solid rgba(58, 53, 65, 0.12);

}

.nomor{
    width: 156.67px;
    height: 48px;
    font-weight: 400;
    padding-bottom: 8px;
    padding-top: 8x;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 241, 1);
    background-color: rgba(255, 255, 255, 1);
    border: none;
}

.input-nomor{
    width: 337.33px;
    padding-bottom: 4px;
    padding-top: 4x;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

a{
    text-decoration: none;
}

.forgetPw {
    margin-left: 430px;
    width: 150px;
    color: rgba(51, 51, 51, 0.68);
}

span{
    color: rgba(255, 92, 43, 1);
}

.btn{
    width: 518px;
    height: 42px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    border: none;
}

.btn-login{
    background-color: rgba(62, 207, 76, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    line-height: 22.4px;
}

.btn-register{
    background-color: rgba(226, 252, 217, 0.8);
    color: rgba(62, 207, 76, 1);
    font-weight: 700;
    line-height: 22.4px;
}

.btn-google{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(74, 80, 92, 1);
    font-weight: 700;
    line-height: 22.4px;
    width: 518px;
    height: 42px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(241, 241, 241, 1)
}

p{
    margin: 10px; 
    color: rgba(74, 80, 92, 1);
    font-weight: 700;
}

.separator{
    color: rgba(74, 80, 92, 1);
}


@media (max-width: 360px) {
    body {
        padding: 0;
        margin: 0;
    }

    nav {
        width: 360px;
        padding-left: 0px;
        padding-right: 0px;
        height: auto;
        position: fixed;
        border-top: 1px;
        border-bottom: 1px;
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: rgba(241, 241, 241, 1);
        box-shadow: 5px 5px 20px rgba(62, 67, 74, 0.31);
    }

    nav img {
        width: 50%;
        height: 50%;
        box-shadow:rgba(51, 51, 51, 0.68)
    }

    .container {
        flex-direction: column;
        padding: 16px;
        gap: 16px;
        height: 1050px;
    }

    form {
        width: 320px;
        height: 780px;
        padding: 10px;
        border: 1px solid rgba(241, 241, 241, 1);
        border-radius: 6px;
        gap: 20px;
    }

    .content {
        width: 280px;
        gap: 10px;
    }

    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 14px;
    }

    fieldset {
        width: 280px;
        height: auto;
        gap: 16px;
    }

    label {
        width: 50%;
        margin-right: 0;
        font-size: 14px;
        text-align: left;
        margin-bottom: 4px;
    }

    input {
        width: 280px;
        height: 40px;
        font-size: 14px;
        margin-right: 150px;
    }

    .input-nomor {
        width: 146px;
    }

    .nomorHp{
        margin-left: 150px;
    }

    .flag-contain{
        width: 105px;
        height: 40px;
        margin-left: 150px;
    }

    .flag{
        height: 40px;
    }

    .forgetPw {
        margin-left: 150px;
        text-align: right;
        font-size: 12px;
    }

    .btn {
        width: 300px;
        height: 34px;
        border-radius: 10px;
        font-size: 14px;
    }

    .btn-google {
        width: 300px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}



